extends layout

block content
	h1 Great, what about support?
	div.slider
		div.flex-action-1
			img(src="images/caniuse.png")
		div.flex-action-2
			img(src="images/bootstrap-git.png")
		div.flex-action-3
			img(src="images/bootstrap-blog.png")
		div.flex-action-4
			img(src="images/slack.png")
		div.flex-action-4
			img(src="images/javascript.com.png")
