extends layout

block content
  h1 Great, what about support?
  
  div.slider
  	div.slide
  		img(src="images/caniuse.png",alt="")
  	div.slide
  		img(src="images/bootstrap-blog.png",alt="")
  	div.slide
  		img(src="images/bootstrap-git.png",alt="")
  	div.slide
  		img(src="images/slack.png",alt="")
