extends layout

block content
	h1 Flexbox in action!
	iframe(height='665', scrolling='no', title='vJvdjq', src='//codepen.io/hirdbluebird/embed/vJvdjq/?height=265&theme-id=dark&default-tab=css,result&embed-version=2', frameborder='no', allowtransparency='true', allowfullscreen='true', style='width: 100%;') See the Pen 
	a(href='https://codepen.io/hirdbluebird/pen/vJvdjq/') Flex example 1

	iframe(height='665', scrolling='no', title='prqKOw', src='//codepen.io/hirdbluebird/embed/prqKOw/?height=265&theme-id=dark&default-tab=css,result&embed-version=2', frameborder='no', allowtransparency='true', allowfullscreen='true', style='width: 100%;') 
	a(href='https://codepen.io/hirdbluebird/pen/prqKOw/') Flex example 2
