extends layout

block content
	h1 Child properties
	div.slider
		div
			h2 Order
			p(data-height="665", data-theme-id="dark", data-slug-hash="NvJOxJ", data-default-tab="css,result", data-user="hirdbluebird", data-embed-version="2", data-pen-title="order", class="codepen")
		div
			h2 Flex grow
			p(data-height="665", data-theme-id="dark", data-slug-hash="vJPvEG", data-default-tab="css,result", data-user="hirdbluebird", data-embed-version="2", data-pen-title="flex-grow", class="codepen")
		div
			h2 Flex shrink
			p(data-height="665", data-theme-id="dark", data-slug-hash="BdbvwJ", data-default-tab="css,result", data-user="hirdbluebird", data-embed-version="2", data-pen-title="flex-shrink", class="codepen")
		div
			h2 Flex basis
			p(data-height="665", data-theme-id="dark", data-slug-hash="ayXBea", data-default-tab="css,result", data-user="hirdbluebird", data-embed-version="2", data-pen-title="justify-content", class="codepen")
		div
			h2 Align self
			p(data-height="665", data-theme-id="dark", data-slug-hash="YxgdeN", data-default-tab="css,result", data-user="hirdbluebird", data-embed-version="2", data-pen-title="align-self", class="codepen")

	a(href="/chapter6", class="chapter-next") 
	a(href="/chapter4", class="chapter-prev") 
	script(async, src="https://production-assets.codepen.io/assets/embed/ei.js")
