extends layout


block content
	h1.bigger Welcome to the ultimate guide to flexbox!
	h2.bigger What is Flexbox
		span.rotate ?
	p.bigger Flexbox - CSS Flexible Box Layout.
	p.bigger CSS 2.1 defined four layout modes — algorithms which determine the size and position of boxes based on their relationships with their sibling and ancestor boxes:
	ul.bigger
		li block layout, designed for laying out documents
		li inline layout, designed for laying out text
		li table layout, designed for laying out 2D data in a tabular format
		li positioned layout, designed for very explicit positioning without much regard for other elements in the document
	p.bigger This module introduces a new layout mode, flex layout, which is designed for laying out more complex applications and webpages.
	a(href="/chapter2", class="chapter-next")
