extends layout

block content
  h1 Great, what about support?

  div.slider
    div
      img(src="images/caniuse.png",alt="")
    div
      img(src="images/bootstrap-blog.png",alt="")
    div
      img(src="images/bootstrap-git.png",alt="")
    div
      img(src="images/slack.png",alt="")
  a(href="/chapter4", class="chapter-next") 
  a(href="/chapter2", class="chapter-prev") 
