extends layout

block content
	h1 Flexbox in action!
	div.slider
		div
			h2 Example number 
				span.rotate 1	
			p(data-height="400", data-theme-id="dark", data-slug-hash="vJvdjq", data-default-tab="css,result", data-user="hirdbluebird", data-embed-version="2", data-pen-title="Flex example 1", data-editable="true", class="codepen")
		div
			h2 Example number 
				span.rotate 2
			p(data-height="400", data-theme-id="dark", data-slug-hash="prqKOw", data-default-tab="css,result", data-user="hirdbluebird", data-embed-version="2", data-pen-title="flex example 2", data-editable="true", class="codepen")




	<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
	a(href="/chapter3", class="chapter-next") 
	a(href="/chapter1", class="chapter-prev") 