extends layout

block content
  h1 Great, what about support?

  div.slider
    div
      h2 "Can I Use?" statistic
      img(src="images/caniuse.png")
    div
      h2 Bootstrap git SASS grid file
      img(src="images/bootstrap-git.png")
    div
      h2 Bootstrap blog post
      img(src="images/bootstrap-blog.png")
    div
      h2 Slack markup
      img(src="images/slack.png")
    div
      h2 Javascript.com markup
      img(src="images/javascript.com.png")
  a(href="/chapter4", class="chapter-next") 
  a(href="/chapter2", class="chapter-prev") 
