extends layout

block content
	h1 Properties for the Parent
	div.slider
		div
			p(data-height="665", data-theme-id="dark", data-slug-hash="VzqEoo", data-default-tab="css,result", data-user="hirdbluebird", data-embed-version="2", data-pen-title="display: flex", class="codepen")
		div
			p(data-height="665", data-theme-id="dark", data-slug-hash="mMavPv", data-default-tab="css,result", data-user="hirdbluebird", data-embed-version="2", data-pen-title="flex-direction", class="codepen")
		div
			p(data-height="665", data-theme-id="dark", data-slug-hash="oemYJJ", data-default-tab="css,result", data-user="hirdbluebird", data-embed-version="2", data-pen-title="flex-wrap", class="codepen")
		div
			p(data-height="665", data-theme-id="dark", data-slug-hash="ayXBea", data-default-tab="css,result", data-user="hirdbluebird", data-embed-version="2", data-pen-title="justify-content", class="codepen")
		div
			p(data-height="665", data-theme-id="dark", data-slug-hash="gxqgPP", data-default-tab="css,result", data-user="hirdbluebird", data-embed-version="2", data-pen-title="align-content", class="codepen")
		div
			p(data-height="665", data-theme-id="dark", data-slug-hash="mMvwPJ", data-default-tab="css,result", data-user="hirdbluebird", data-embed-version="2", data-pen-title="align-content", class="codepen")

	a(href="/chapter2", class="chapter-next") 
	a(href="/chapter2", class="chapter-prev") 
	script(async, src="https://production-assets.codepen.io/assets/embed/ei.js")
