extends layout

block content
	h1 Parent properties
	div.slider
		div
			h2 Display properties
			p(data-height="665", data-theme-id="dark", data-slug-hash="VzqEoo", data-default-tab="css,result", data-user="hirdbluebird", data-embed-version="2", data-pen-title="display: flex", class="codepen")
		div
			h2 Flex direction
			p(data-height="665", data-theme-id="dark", data-slug-hash="mMavPv", data-default-tab="css,result", data-user="hirdbluebird", data-embed-version="2", data-pen-title="flex-direction", class="codepen")
		div
			h2 Flex wrap
			p(data-height="665", data-theme-id="dark", data-slug-hash="oemYJJ", data-default-tab="css,result", data-user="hirdbluebird", data-embed-version="2", data-pen-title="flex-wrap", class="codepen")
		div
			h2 Justify content
			p(data-height="665", data-theme-id="dark", data-slug-hash="ayXBea", data-default-tab="css,result", data-user="hirdbluebird", data-embed-version="2", data-pen-title="justify-content", class="codepen")
		div
			h2 Align items
			p(data-height="665", data-theme-id="dark", data-slug-hash="gxqgPP", data-default-tab="css,result", data-user="hirdbluebird", data-embed-version="2", data-pen-title="align-content", class="codepen")
		div
			h2 Align content
			p(data-height="665", data-theme-id="dark", data-slug-hash="mMvwPJ", data-default-tab="css,result", data-user="hirdbluebird", data-embed-version="2", data-pen-title="align-content", class="codepen")

	script(async, src="https://production-assets.codepen.io/assets/embed/ei.js")
	a(href="/chapter5", class="chapter-next") 
	a(href="/chapter3", class="chapter-prev") 
