extends layout

block content
	h1 Child properties
	div.slider
		div
			h2 Order
			div.split
				p(data-height="400", data-editable="true", data-theme-id="dark", data-slug-hash="NvJOxJ", data-default-tab="css,result", data-user="hirdbluebird", data-embed-version="2", data-pen-title="order", class="codepen")
				aside
					img(src="images/flex-order.png")
					p By default, flex items are laid out in the source order. However, the order property controls the order in which they appear in the flex container.
		div
			h2 Flex grow
			div.split
				p(data-height="400", data-theme-id="dark", data-editable="true", data-slug-hash="vJPvEG", data-default-tab="css,result", data-user="hirdbluebird", data-embed-version="2", data-pen-title="flex-grow", class="codepen")
				aside
					img(src="images/flex-grow.png")
					p This defines the ability for a flex item to grow if necessary. It accepts a unitless value that serves as a proportion. It dictates what amount of the available space inside the flex container the item should take up.
		div
			h2 Flex shrink
			div.split
				p(data-height="400", data-theme-id="dark", data-slug-hash="BdbvwJ", data-editable="true", data-default-tab="css,result", data-user="hirdbluebird", data-embed-version="2", data-pen-title="flex-shrink", class="codepen")
				aside
					img(src="images/flex-grow.png")
					p This defines the ability for a flex item to shrink if necessary.
		div
			h2 Flex basis
			div.split
				p(data-height="400", data-theme-id="dark", data-slug-hash="ayXBea", data-editable="true", data-default-tab="css,result", data-user="hirdbluebird", data-embed-version="2", data-pen-title="justify-content", class="codepen")
				aside
					img(src="images/flex-grow.png")
					p This defines the default size of an element before the remaining space is distributed. It can be a length (e.g. 20%, 5rem, etc.) or a keyword.
		div
			h2 Align self
			div.split
				p(data-height="400", data-theme-id="dark", data-slug-hash="YxgdeN", data-default-tab="css,result", data-editable="true", data-user="hirdbluebird", data-embed-version="2", data-pen-title="align-self", class="codepen")
				aside
					img(src="images/flex-align-self.png")
					p This allows the default alignment (or the one specified by align-items) to be overridden for individual flex items.

	a(href="/chapter6", class="chapter-next")
	a(href="/chapter4", class="chapter-prev")
	script(async, src="https://production-assets.codepen.io/assets/embed/ei.js")
