body
  font:  16px 'Open Sans', Helvetica, Arial, sans-serif
  color: #111111

a
	color:           #00B7FF
	text-decoration: none
.rotate
	transform:   rotateX(180deg)
h1
	margin:        0px
	line-height:   50px
	background:    #111111
	margin-bottom: 15px
	color:         white
	padding-left:  20px
img
	max-height:  100%
	max-width:   100%
	object-fit:  cover
.slider
	height:      calc(100vh - 70px)
	text-align:  center
	padding-top: 30px
	overflow-y:  hidden
.slick-next
	position:      absolute
	top:           0
	right:         0
	z-index:       5
.slick-prev
	position:      absolute
	top:           0
	left:          0
	z-index:       5
.slick-arrow
	margin-bottom: 10px
.chapter-next,
.chapter-prev
	position:         absolute
	bottom:           0
	width:            65px
	height:           65px
	text-align:       center
	background:       #111111
	color:            white
	font-size:        42px
	&:hover
		background:   lighten(#111, 15%)
	&:before
		position:     absolute
		top:          50%
		line-height:  8px
.chapter-prev
	left:                    0
	border-top-right-radius: 100%
	&:before
		content:             '<'
		left:                15%
.chapter-next
	right: 0
	border-top-left-radius:  100%
	&:before
		content:             '>'
		right:               15%
